@page "/{id:int}"
@model BlogX.WebUI.Pages.DetailsModel
@{
}

@section Heads{
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/styles/default.min.css">
    <style>
        article img {
            max-width: 100%;
        }
    </style>
}

<article>
    <h3>@Model.PostVM.Title</h3>

    <p class="text-secondary">@Model.PostVM.Author 发布于 @Model.PostVM.CreatedTime 最后更新于 @Model.PostVM.UpdatedTime</p>

    <hr />

    <div>
        @Html.Raw(Model.PostVM.Content)
    </div>
</article>

@section Scripts{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.8.0/highlight.min.js"></script>

    <script>
        hljs.highlightAll();
    </script>
}
